[submodule "external-deps/jsoncpp"]
	path = external-deps/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "external-deps/GOTCHA"]
	path = external-deps/GOTCHA
	url = https://github.com/LLNL/GOTCHA.git
[submodule "external-deps/cereal"]
	path = external-deps/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "external-deps/libbacktrace"]
	path = external-deps/libbacktrace
	url = git@github.com:hbrunie/libbacktrace.git
